div{
    border:1px solid black;
    border-radius:25px;
    width:30%;
    height:20%;
    margin-right:0.55%;
    margin-left:0.55%;
    margin-bottom:1%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-right:1%;
    padding-left:1%;
    display:inline-block;
    margin-top:1%;
    position:relative;
    transition: box-shadow 0.3s ease;
    word-break: break-all;
}

.error{
    color:red;
}

.error{
    margin-top:17%;
}

.description{
    margin-top:8%;
}

.name{
    font-size:120%; 
    font-weight: bolder;
    font-family: "Helvetica";
}

.version{
    margin-top:5%
}

p{
    margin:none;
    padding:none;
    position: absolute;
}

div:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}