#data_container{
    width:70%;
    border-right:3px solid blue;
    text-wrap: wrap;
    word-break: break-all;
    margin-top: None;
    padding: None;
    font-size:120%;
}

input[type="submit"]{
    font-size:170%;
    width:20%;
    padding:1%;
    border-right:3px solid blue;
    border-radius: 25px;
    left:75%;
    position: absolute;
    color:white;
    background-color: blue;
    font-weight: bolder;
    top:15%;
}

input[value="Disable"]{
    top:30%;
}