.perm_lvl_field{
    width:40%;
}

body{
    font-family: Helvetica;
    font-size: 80%;
}

td{
    font-size: 200%;
    padding-left:2vw;
    padding-right:2vw;
    padding-bottom:0vw;
}

table {
    border-spacing: 10px 0;
    top:10%;
}

input{
    font-family: Helvetica;
    width: 115%;
    border:2px solid rgb(51, 63, 239);
    border-radius: 25px;
    font-size:100%;
    padding:2%;
}

td > button{
    margin-top:4%;
    border:none;
    background-color:rgb(4, 155, 249);
    font-weight:bold;
    font-family: Helvetica;
    font-size:84%;
    border-radius: 25px;
    padding:16%;
}

#del_btn{
    position: absolute;
    left:70%;
}

input[type="submit"]{
    width:14%;
    margin-top:4%;
    border:none;
    background-color:rgb(4, 155, 249);
    font-weight:bold;
    font-family: Helvetica;
    font-size:200%;
    border-radius: 25px;
    position:sticky;
    bottom:80%;
    left:90%;
}

#sort_div{
    border: 2px  solid rgb(51, 63, 239);
    border-radius:25px;
    bottom:54%;
    width:17%;
    position:sticky;
    left:80%;
    padding:1%;
    padding-top: 0.3%;
    height:15%;
    font-weight:bold;
    font-size:160%;
}

input[type="radio"]{
    margin:none;
    padding:none;
    width:10%;
}

a#AddLink{
    text-decoration: none;
    color:black;
    margin-left:21%;
    font-family: "Helvetica";
    font-size:210%;
    font-weight: bold;
}

div#AddLink{
    position: absolute;
    left: 88%;
    bottom:45%;
    width:10%;
    height:4%;
    padding:1%;
    border-radius: 25px;
    background-color: rgb(4, 155, 249);
    color:black;
    text-decoration: none;
}