<html>
    <header><a href="/" id="home">Home</a> <a href="/user/" id="user_button">Not Logged In</a> <a href="/signout.html" id="signout">Sign Out</a></header>
    <head>
        <title>401</title>
        <link rel="stylesheet", href="css/main_style.css">
        <link rel="stylesheet", href="css/http_code.css">
    </head>
    <body>
        <h1>401</h1>
        <p>You dont have access to this site. Have you tried logging in?</p>
    </body>
</html>
<!--Sets the displayed username-->
<script src="/js/display_user.js"></script>