<html>
<head>
    <title>Webmanager</title>
    <link rel="stylesheet", href="css/main_style.css">
</head>
<!--header-->
<header><a href="/" id="home">Home</a> <a href="/user/" id="user_button">Not Logged In</a> <a href="/signout.html" id="signout">Sign Out</a></header>
<body>
    <div class="icon">
        <a href="login.html">Login</a>
    </div>
    <div class="icon">
        <a href="401.html">401</a>
    </div>
</body>
</html>
<!--Sets the displayed username-->
<script src="/js/display_user.js"></script>