<!-- header -->
<header><a href="/" id="home">Home</a> <a href="/user/" id="user_button">Not Logged In</a> <a href="/signout.html" id="signout">Sign Out</a></header>
<html>
    <head>
        <title>Adding User</title>
        <link rel="stylesheet", href="/css/main_style.css">
        <link rel="stylesheet", href="/css/adduser.css">
    </head>
    <body>
        <form action="addUser.html" method="post">
            <input type="text" name="fullname" placeholder="Full Name">
            <textarea name="description" maxlength="390" placeholder="Description"></textarea> <br>  
            <input type="text" name="username" placeholder="Username *" required> <br>
            <input type="password" name="password1" placeholder="Password *" required> <br>
            <input type="password" name="password2" placeholder="Confirm Password *" required> <br>
            <input type="email" name="email" placeholder="Email *" required> <br>
            <select id="roles_select">  
                <option value="0">Choose Roles</option>
                ROLE_OPTIONS
            </select> <br>
            <table>
                <tbody id="roles_display"></tbody>
            </table>
            <input type="hidden" name="roles_post" id="roles_post">
            <select id="groups_select">
                <option value="0">Choose Groups</option>
                GROUP_OPTIONS
            </select> <br>
            <table>
                <tbody id="groups_display"></tbody>
            </table>
            <input type="hidden" name="groups_post" id="groups_post">
            <input type="submit" value="Create User">
            <p id="sel_roles">Selected Roles</p>
            <p id="sel_groups">Selected Groups</p>
            <div id="response" style="background-color: BG_COLOR;color:FONTCOLOR;">RESPONSE</diiv>
        </form>
    </body>
    
</html>
<script src="/js/user_rg_select.js"></script>
<!--Sets the displayed username-->
<script src="/js/display_user.js"></script>