<!-- header -->
<header><a href="/" id="home">Home</a> <a href="/user/" id="user_button">Not Logged In</a> <a href="/signout.html" id="signout">Sign Out</a></header>
<html>
    <head>
        <title>Change Configs</title>
        <link rel="stylesheet", href="/css/main_style.css">
        <link rel="stylesheet", href="/css/CUSTOM_SITE_CSS.css">
    </head>
    <body>
        <form action="/admin/change_conf/">
            CONFIGS
        </form>
    </body>
    
</html>
<!--Sets the displayed username-->
<script src="/js/display_user.js"></script>