<!-- header -->
<header><a href="/" id="home">Home</a> <a href="/user/" id="user_button">Not Logged In</a> <a href="/signout.html" id="signout">Sign Out</a></header>
<html>
    <head>
        <title>Plugin Sheet of NAME</title>
        <link rel="stylesheet", href="/css/main_style.css">
        <link rel="stylesheet", href="/css/plugin_sheet.css">
    </head>
    <body>
        <div id="data_container">
            <h1>NAME</h1>
                <p><span style="font-weight: bolder;">Version:</span>VERSION</p>
                <p><span style="font-weight: bolder;">Descriptiom:</span>DESCRIPTION</p>
                <p><span style="font-weight: bolder;">Path:</span>PATH</p>
                <form action="/admin/change_pl_config/" method="POST">
                    <h1>Plugin Configs:</h1>
                    <input type="text" value="NAME" style="display:none" name="__pl_name__">
                    CONFIGS
                </form>
            </div>
        <form action="/admin/changePluginStatus/" method="POST">
            <input type="text" value="NAME" style="display:none" name="name">
            <input type="submit" value="Enable" name="action">
        </form>
        <form action="/admin/changePluginStatus/" method="POST">
            <input type="text" value="NAME" style="display:none" name="name">
            <input type="submit" value="Disable" name="action">
        </form>
        <form action="/admin/removePlugin/" method="POST">
            <input type="text" value="NAME" style="display:none" name="name">
            <input type="submit" value="Remove Plugin" name="action">
        </form>
    </body>
    
</html>
<!--Sets the displayed username-->
<script src="/js/display_user.js"></script>