<!-- header -->
<header><a href="/" id="home">Home</a> <a href="/user/" id="user_button">Not Logged In</a> <a href="/signout.html" id="signout">Sign Out</a></header>
<html>
    <head>
        <title>Change Configs</title>
        <link rel="stylesheet", href="/css/main_style.css">
        <link rel="stylesheet", href="/css/config.css">
    </head>
    <body>
        <form action="/admin/change_conf/", method="POST">
            CONFIGS
            <input type="submit" value="Change Config">
        </form>
        <a href="/admin/add_config.html" id="add">Add Config</a>
    </body>
    
</html>
<!--Sets the displayed username-->
<script src="/js/display_user.js"></script>