<header><a href="/" id="home">Home</a> <a href="/signout.html" id="signout">Sign Out</a></header>
<head>
    <title>Webmanager Login</title>
    <link rel="stylesheet", href="css/main_style.css">
    <link rel="stylesheet", href="css/login.css">
</head>

<body>
    <form action="login.html", method="post">
        <input type="text" name="username" id="uname" class="text" placeholder="Username" required> <br>
        <input type="password" name="password" id="password" class="text" placeholder="Password" required> <br>
        <input type="submit" id="submit">
    </form>
    <div id="response"></div>
</body>